<div class="reward-index-container">
  <div class="reward-header">
    <div class="reward-header-name">
      <i class="fa-regular fa-star" style="color: #ffc342;"></i>
      <h1>REWARDS</h1>
      <i class="fa-regular fa-star" style="color: #ffc342;"></i>
    </div>
    <div class="child-coins">
      <i class="fa-solid fa-circle" style="color: #f5cb56;"></i>
      <%= @child.coins %>
    </div>
  </div>
  <div class="rewards-container">
    <div class="row">
      <% @rewards.each do |reward| %>
        <div class="modal fade" id="rewardModal<%= reward.id %>" tabindex="-1"            aria-labelledby="rewardModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="rewardModalLabel"><%= reward.name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= reward.description %>
                <%= reward.price %>
                <%= reward.inventory %>
              </div>
              <div class="modal-footer" data-controller="purchase-reward">
                <button type="button" class="btn btn-primary">Favorite this reward</button>
                <%= simple_form_for([reward, ClaimedReward.new]) do |f| %>
                    <input type="hidden" value="<%= @child.id %>" name="child_id">
                    <button type="submit" class="btn btn-primary" data-action="click->purchase-reward#purchase"
                    <%= reward.inventory.zero? || reward.price > @child.coins ? "disabled" : '' %>>Purchase this reward</button>
                <% end %>

                <%# are you sure? %>
                <%# parent needs a notification that a reward was bought %>
              </div>
            </div>
          </div>
        </div>
        <li class="col-4">
          <%= link_to '#', data: { bs_toggle: "modal", bs_target: "#rewardModal#{reward.id}" } do %>
           <div class="reward-card">
            <div class="reward-card-top">
              <h3><%= reward.name %></h3>
              <%= image_tag @random_images.sample %>
            </div>
            <div class="d-flex">
              <%# <div class="coin-container">
                <div class="coin">
                  <div class="front jump">
                    <div class="coin-star"></div>
                    <span class="coin-currency">¥</span>
                    <div class="shapes">
                      <div class="shape_l"></div>
                      <div class="shape_r"></div>
                      <span class="coin-top"></span>
                      <span class="coin-bottom"></span>
                    </div>
                  </div>
                  <div class="coin-shadow"></div>
                </div>
              </div> %>
              <i class="fa-solid fa-circle" style="color: #f5cb56;"></i>
              <h4 class="text-black"><%= reward.price %></h4>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
<%# when reward inventory 0, box is grayed out %>
<%# when reward is favorited, star icon on bottom right %>
