<div class="card" style="height:70px;background:#F7F5E3; border-radius:10px">
  <div class="row g-1 align-items-center">
    <div class="col-md-2">
      <h5 class="text-center"><%= mission.date %></h5>
    </div>
    <div class="col-md-6">
        <p><%= mission.title %></p>
        <i class="fa-solid fa-circle-info"></i>See description
    </div>
    <div class="col-md-2">
      <h5 class="card-text d-flex align-items-center">
        <%= pluralize(mission.coins, "coin")%>
      </h5>
      <i class="fa-solid fa-circle-info"></i>
    </div>
    <div class="col-md-2">
        <p class="<%= status_color_class(mission.status) %>">Status: <%= mission.status %></p>
    </div>
  </div>
</div>
<%#
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> %>
