<div id="container">
    <!--Header -->
    <div id="header">
        <h1>  Lovely <%= @child.name %> Here's your mission 😎</h1>
        <h2><%= @weather['weather'][0]['main']%> in Tokyo<h2>
        <h2> <%=@current_time.strftime("%Y-%m-%d %H:%M") %> <i class="fa-regular fa-clock"></i></h2>
    </div>
    <!--Header-->

    <div id ="flexbox">
        <!--flex left -->
        <div class="missions">
                <h2><strong> Mission completion <%= "children.mission.complete" %></strong></h2>

                    <%= render "shared/mission-title" %>
                    <%= render "shared/mission-title" %>
                    <%= render "shared/mission-title" %>
        </div>

        <!--flex right -->
        <div id="right-navigation">
        <h2><strong>Coins💰 <%= @child.coins %></strong></h2>
        <div id="reward">
                <h2><strong>Rewards</strong></h2>
                <i class="fa-regular fa-teddy-bear"></i>
        </div>

      <div id="gameboard">
       <h1 style="vertical-align=top"> Build your habits and get the special bonus </h1>
           <%= render "shared/gameboard" %>
           <img src="https://www.clipartmax.com/png/small/42-424968_footprints-png-monkey.png" alt="Footprints Png Monkey @clipartmax.com">
          </div>
          </div>
        </div>
</div>
