<%= simple_form_for [:manage, child] do |f| %>
  <div class="new-child-input-container new-child-ic1"><%= f.input :name %></div>
  <div class="new-child-input-container new-child-ic2"><%= f.input :date_of_birth, html5: true %></div>
  <div class="new-child-input-container new-child-ic2"><%= f.input :photo, as: :file %></div>

  <div class="d-flex justify-content-center">
    <%= f.submit "Add a Child", class: "btn btn-primary mt-5"%>
  </div>
<% end %>
