<div class="homepage-container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
    <!-- Carousel inner -->
    <div class="carousel-inner carousel-height">
      <div class="carousel-item active" id="carousel-item-container">
        <div class="container">
          <div class="row pt-5">
            <!-- Header and button inside the carousel item -->
            <div class="col-6 d-flex justify-content-center flex-column ps-5 carousel-text text-white">
              <h2 id="carousel-h2"><strong>Enhanced task management skills</strong></h2>
              <p class="text-white">
                Developing supercharged task management skills for kids means learning how to organize and prioritize their activities with fun and creativity. It's like becoming a mission superhero, making sure everything gets done while having a blast along the way!
              </p>
              <% if user_signed_in? %>
                <%= link_to "Your account", manage_children_path, class:"w-25 btn btn-primary" %>
              <% else %>
                <%= link_to "Sign up today", new_user_registration_path, class:"w-25 btn btn-primary" %>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-4 pt-5">
              <%= image_tag "caro1.png", class:"w-100" %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" id="carousel-item-container">
        <div class="container">
          <div class="row pt-5">
            <!-- Header and button inside the carousel item -->
            <div class="col-6 d-flex justify-content-center flex-column ps-5 carousel-text text-white">
              <h2 id="carousel-h2"><strong>A fun and interactive learning environment</strong></h2>
              <p class="text-white">
                Creating an active and fun learning environment for children involves turning education into an exciting adventure, where curiosity is sparked, and knowledge is gained through interactive and enjoyable activities. It's all about making learning a thrilling journey filled with discovery and joy!
              </p>
              <% if user_signed_in? %>
                <%= link_to "Your account", manage_children_path, class:"w-25 btn btn-primary" %>
              <% else %>
                <%= link_to "Sign up today", new_user_registration_path, class:"w-25 btn btn-primary" %>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-4 pt-5">
              <%= image_tag "caro1.png", class:"w-100" %>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" id="carousel-item-container">
        <div class="container">
          <div class="row pt-5">
            <!-- Header and button inside the carousel item -->
            <div class="col-6 d-flex justify-content-center flex-column ps-5 carousel-text text-white">
              <h2 id="carousel-h2"><strong>Get more connected to your child</strong></h2>
              <p class="text-white">
                Deepening your connection with your child means fostering meaningful moments through open communication and shared activities. It's about building a strong bond that goes beyond words, creating a closeness that lasts a lifetime!
              </p>
              <% if user_signed_in? %>
                <%= link_to "Your account", manage_children_path, class:"w-25 btn btn-primary" %>
              <% else %>
                <%= link_to "Sign up today", new_user_registration_path, class:"w-25 btn btn-primary" %>
              <% end %>
            </div>
            <div class="col-1"></div>
            <div class="col-4 pt-5">
              <%= image_tag "caro1.png", class:"w-100" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="home-hero-container">
    <div class="hero-left-card-product hero-card">
      <%= image_tag "hero.png" %>
      <div class="hero-left-card-product-infos">
        <h2 class="hero-header-text">Adventure, Empowerment & Collaboration</h2>
        <p>Imagine a world where tasks become missions and good habits turn into superpowers! <strong>DeKiTaYo </strong>empowers parents and kids to team up, making daily tasks a breeze and transforming routine into a fun and rewarding journey</p>
      </div>
    </div>
    <div class="hero-right-card-product hero-card">
      <%= image_tag "hero2.png" %>
      <div class="hero-right-card-product-infos">
        <h2 class="hero-header-text">Productivity meets Lifelong Learning</h2>
        <p>Unlock the magic of productivity with <strong>DeKiTaYo</strong>! Join us in creating a positive, collaborative space where parents and children work hand-in-hand to build lifelong skills</p>
      </div>
    </div>
    <div class="hero-left-card-product hero-card">
      <%= image_tag "hero1.png" %>
      <div class="hero-left-card-product-infos">
        <h2 class="hero-header-text">Habit Building Haven</h2>
        <p>Say goodbye to the bedtime battles! <strong>DeKiTaYo</strong> is the key to fostering good habits in your little ones. By making tasks engaging and rewarding, we're on a mission to help families thrive together</p>
      </div>
    </div>
  </div>
  <div class="testimonial-container">
    <div class="testimonial-header">
      <h2><strong style="
    border-bottom: 2px solid #B0B0B0">Hear from our Users:</strong></h2>
    </div>
    <div class="customer-testimonial-container">
      <div class="customer-testimonial">
        <%= image_tag "mom-pic.png", class:"avatar-testimonial" %>
        <div class="testimonial-info">
          <h3><strong>Keiko</strong></h3>
          <p>
            "DeKiTaYo has truly transformed the way my family approaches daily tasks. It's no longer just about chores; it's about embarking on exciting missions together. The adventure, empowerment, and collaboration make every day a joyous journey for both parents and kids. It's like turning mundane routines into superhero training grounds—where missions become superpowers!"
          </p>
        </div>
      </div>
      <div class="customer-testimonial">
        <%= image_tag "child-pic.png", class:"avatar-testimonial" %>
        <div class="testimonial-info">
          <h3><strong>Chiyo</strong></h3>
          <p>
            "I love how DeKiTaYo makes learning cool and productive. It's not just about school stuff; it's about working together with my mom and dad to build habits"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
