<div class="homepage-container">
  <div class="top-page">
    <div class=" d-flex justify-content-between align-content-center">

        <div class="container-text">
        <h1> DekiTaYo! </h1>
          <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-gradient"%>
        </div>
        <div class="container-image">
          <%= image_tag "family.jpg", class: "image-size" %>
        </div>
    </div>
  </div>

  <div class="home-hero-container">
    <div class="hero-left-card-product hero-card">
      <%= image_tag "hero.png" %>
        <div class="hero-left-card-product-infos">
          <h2>Adventure, Empowerment & Collaboration</h2>
          <p>Imagine a world where tasks become missions and good habits turn into superpowers! <strong>DeKiTaYo </strong>empowers parents and kids to team up, making daily tasks a breeze and transforming routine into a fun and rewarding journey</p>
      </div>
    </div>

    <div class="hero-right-card-product hero-card">
      <%= image_tag "hero2.png" %>
        <div class="hero-right-card-product-infos">
          <h2>Productivity meets Lifelong Learning</h2>
          <p>Unlock the magic of productivity with <strong>DeKiTaYo</strong>! Join us in creating a positive, collaborative space where parents and children work hand-in-hand to build lifelong skills</p>
      </div>
    </div>

    <div class="hero-left-card-product hero-card">
      <%= image_tag "hero1.png" %>
        <div class="hero-left-card-product-infos">
          <h2>Habit Building Haven</h2>
          <p>Say goodbye to the bedtime battles! <strong>DeKiTaYo</strong> is the key to fostering good habits in your little ones. By making tasks engaging and rewarding, we're on a mission to help families thrive together</p>
      </div>
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("little-girl.png", class: 'd') %>
        <div class="carousel-caption">
          <!-- Header and button inside the carousel item -->
          <h1>Task management skills (all temporary)</h1>
          <%= link_to "Sign up today", new_user_registration_path, class:"btn btn-primary btn-home-explore" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("little-boy.png", class: 'd') %>
        <div class="carousel-caption">
          <!-- Header and button inside the carousel item -->
          <h1>Get back your time to relax</h1>
          <%= link_to "Sign up today", new_user_registration_path, class:"btn btn-primary btn-home-explore" %>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("mom.png", class: 'd') %>
        <div class="carousel-caption">
          <!-- Header and button inside the carousel item -->
          <h1>Kids will have fun</h1>
          <%= link_to "Sign up today", new_user_registration_path, class:"btn btn-primary btn-home-explore" %>
        </div>
      </div>
    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
