<div class="card" style="max-width: 600px;">
  <div class="row g-1 align-items-center">
    <div class="col-md-2 ">
      <%= image_tag 'cleaning.jpg', height: '25', width: '25', class: 'rounded' %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= mission.title %></h5>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-text d-flex align-items-center">
        <%= pluralize(mission.coins, "coin")%>
      </h5>
      <%= button_to "DekiTaYo!",
                      mission_completed_missions_path(mission),
                      method: :post, class: "btn btn-primary",
                      data: { bs_dismiss: "modal" } unless mission.status == "finished" %>
      <%
=begin%>
      <a class="btn btn-gradient" style="width:100px" data-bs-toggle="modal" data-bs-target="#<%= dom_id(mission) %>">details</a>
      <%
=end%>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="<%= dom_id(mission) %>" tabindex="-1" aria-labelledby="<%= dom_id(mission) %>Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="<%= dom_id(mission) %>Label">
            [Morning] <%= mission.title %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>
            <%= mission.description %>
          </h3>
        </div>
        <div>
          <p>Status = <%= mission.status %></p>
        </div>
        <div class="modal-footer">
          <%= button_to "DekiTaYo!",
                      mission_completed_missions_path(mission),
                      method: :post, class: "btn btn-primary",
                      data: { bs_dismiss: "modal" } unless mission.status == "finished" %>
          <%# <button type="button" class="btn btn-primary" data-bs-dismiss="modal">DekiTaYo!</button> %>
          <button type="button" class="btn btn-third">Keep Doing</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%#
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> %>
