<div id="container">
  <div class="game-bg position-fixed vw-100 vh-100 top-0 start-0" style="background-image: url(<%= image_path "game_bk.jpg" %>)">
    <div id="header">
      <div class="header-left d-flex fs-3 fw-bold">
        <div>  Hi <%= current_child.name %>😎</div>
      </div>
      <div class="header-center d-flex  gap-4 fs-4">
        <div><%= @weather['weather'][0]['main']%> in Tokyo</div>
        <div> <%=Time.now.strftime("%Y-%m-%d %H:%M") %> <i class="fa-regular fa-clock"></i></div>
      </div>
      <div class="header-right d-flex">
        <div class=""><i class="fa-solid fa-sack-dollar text-warning"></i><%= link_to current_child.coins, rewards_path(current_child), class: "btn fs-3 fw-bold "%></div>
      </div>
    </div>
    <!--flex left -->
    <div class="missions position-fixed">
      <div class="d-flex justify-content-between">
        <h2><strong>Today's Missions</strong></h2>
        <h1><%=current_child.missions.daily_missions.where(status: "finished").count %>/<%= current_child.missions.daily_missions.size %></h1>
      </div>
      <% if current_child.missions.daily_missions.find_by(status: "started")%>
        <p class="text-center">~You have <%= pluralize(current_child.missions.daily_missions.size, "mission") %> to complete today~</p>
      <% else %>
        <p class="text-center">~No missions available~</p>
      <% end %>
      <% current_child.missions.daily_missions.each do |mission| %>
        <% unless mission.status == "finished"%>
          <%= render partial: "missions/mission_card", locals: { mission: mission } %>
        <% end %>
      <% end %>
      <%= link_to "View Future Missions", missions_path, class: "btn btn-gradient" %>
    </div>
    <!--flex right -->
    <div id="gameboard" class="position-fixed">
      <%= render "shared/gameboard", position: current_child.position %>
    </div>
  </div>
</div>
